#title
{
    background-color:#ff4c68;
}
body
{
    font-family:'Montserrat';
}

.container-fluid
{
    padding : 3% 15%  !important;
    height:35rem;
    position:relative;
    overflow:hidden;
}
.navbar
{
    padding:0 0 4.5rem !important;

}
.navbar-brand
{
font-family:'Ubuntu';
font-size: 2.5rem !important;
font-weight:bold;
}
.nav-item
{
    padding:0 15px;
}
.dog
{
font-family: 'Montserrat';
color:white;
line-height: 1.5;
font-size:3rem;
font-weight: 900;
}

/* download button */
.download-button
{
margin: 5% 3% 5% 0% ;
}
.title-dog
{
    width:50% !important;
    transform: rotate(25deg);
    position: absolute;
}
@media(max-width:1028px)
{
    .title-dog{
        position: relative;
        transform: rotate(0);

    }
    .container-fluid
    {
        height:70rem;
        overflow:visible;
    }
    #title
    {
        text-align: center;
    }
}

#features
{
    margin:7% 15%; 
    position: relative;
    z-index: 1;
    background-color:#fff;
}

h3
{
    font-family: 'Montserrat';
    font-weight: bold !important ;
    font-size: 1.5rem;
    text-align: center;
}
p{
    color:#8f8f8f;
}
.feature-box
{
    text-align: center;
    padding:4.5%;
}
.icon
{
    color: #ef8172;
    margin-bottom: 1rem;
    font-size: 3rem;
}

.icon:hover
{
    color: #ff4c68;
}
/* TESTIMONIALS */
#testimonials
{
    background-color: #FF6F91;
    text-align: center;
    color: white;

}    
h2
{
    font-family: 'Montserrat';
    line-height: 1.5 !important;
    font-size: 3rem !important;
    font-weight:bold !important ;
    padding: 7% 15%;
}
.testimony-img
{
    border-radius: 100%;
    width:7%;
    margin-bottom: 15%;
    margin-top: -60px;
}
#press
{
    background-color:#FF6F91 ;
    text-align:center;
}
.press-logo
{
    width:15%;
    margin: 20px 20px 50px;
}
.carousal-item
{
padding:7% 15%;
}



#pricing
{
    padding: 100px;
    text-align: center;
}
.pricing-column
{
padding: 3% 2%;
}
#cta
{
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
}
.last
{
    color:#fff !important;
  
    font-size: 3.5rem;
}

#footer
{
    text-align: center;
    margin-top: 7%;
}
.icon1
{
    padding: 1rem;
}